/*
# dark red BF2E39
# lighter red DA3D5B
# dark green 51733C
# light green A0C275
# whitish F3EFE9
*/
@import url(http://fonts.googleapis.com/css?family=Signika+Negative);
.sounds > .sound { display: none }
.touch-sound {
  cursor: pointer;
  border: 3px #A0C275 double;
  background-color: #51733C;
  width: 150px;
  height: 100px;
  line-height: 100px;
  margin: .75em;
  display: inline-block;
  text-align: center;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.touch-sound:hover {
  background-color: #A0C275;
}

#soundboard .language {
  break-before: always;
}
.touch-sound.lang-chinese {
  background-color: #BF2E39;
  border-color: #DA3D5B;
}
.touch-sound.lang-chinese:hover {
  background-color: #DA3D5B;
}
*, body {
  font-family: 'Signika Negative', cursive;
  font-size: 20pt;
  color: #F3EFE9;
  background-color: transparent;
}
.note, .note > * {
  color: #BF2E39;
  font-size: small;
}

@media (max-width: 600px) {
  .touch-sound {
    width: 100px;
    height: 60px;
    line-height: 60px;
    font-size: 12pt;
  }
}
.loop-container {
  background-color: #FF6633;
  color: black;
  padding: 10px;
}
.loop {
  min-height: 100px;
}
.loop.drop-target {
  border: 2px #AAA dotted;
  background-color: #F96;
}
.loop.drop-target:after {
  content: 'DRAG HERE';
  display: block;
  position: relative;
  line-height: 100px;
  text-align: center;
}
.loop .touch-sound {
  border: 3px #FFF solid;
}
.sound {
  display: none;
}

/* http://www.html5rocks.com/en/tutorials/dnd/basics/ */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
