/*
# dark red BF2E39
# lighter red DA3D5B
# dark green 51733C
# light green A0C275
# whitish F3EFE9
*/
@import url(http://fonts.googleapis.com/css?family=Signika+Negative);
.sounds > .sound { display: none }
#soundboard .touch-sound {
  cursor: pointer;
  border: 3px #A0C275 double;
  background-color: #51733C;
  width: 150px;
  height: 100px;
  line-height: 100px;
  margin: .75em;
  display: inline-block;
  text-align: center;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#soundboard .touch-sound:hover {
  background-color: #A0C275;
}

#soundboard .language {
  break-before: always;
}
#soundboard .touch-sound.lang-chinese {
  background-color: #BF2E39;
  border-color: #DA3D5B;
}
#soundboard .touch-sound.lang-chinese:hover {
  background-color: #DA3D5B;
}
*, body {
  font-family: 'Signika Negative', cursive;
  font-size: 20pt;
  color: #F3EFE9;
  background-color: transparent;
}

